# Standard Node Ignored
node_modules
dist
coverage
lib

# Mac stuff
.DS_Store

# VS Code ignores
tsd.json
.settings/
.vscode/
typings/
jsconfig.json

# intelliJ
.idea

# app specific
playground/bundle.js.map
bundle.js
npm-debug.log
